In [103]:
import pandas as pd
import pymysql 
from sqlalchemy import create_engine
from config import db_username, db_password, db_name, db_port_mysql, db_host

In [104]:
df = pd.read_csv("universities-clean.csv")
df

,Rank,Institution,City,Country,Continent,Founded,Affiliation,AttendanceMode,Enrollment,Link
0,1,Indira Gandhi National Open University,New Delhi,India,Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
1,2,"National University, Bangladesh",Gazipur,Bangladesh,Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/National_Univers...
2,3,Anadolu University,Eskişehir,Turkey,Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Anadolu_University
3,4,California Community Colleges,California,United States,North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/California_Commu...
4,5,Islamic Azad University,Iran,Iran,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Islamic_Azad_Uni...
...,...,...,...,...,...,...,...,...,...,...
85,85,Aix-Marseille University,Marseille,France,Europe,1409,Public,In-Person,80000,https://en.wikipedia.org/wiki/Aix-Marseille_Un...
86,86,University of Hagen,Hagen,Germany,Europe,1974,Public,Distance,69982,https://en.wikipedia.org/wiki/University_of_Hagen
87,87,Université de Montréal,Canada,Canada,North America,1878,Public,Distance/In-Person,67109,https://en.wikipedia.org/wiki/Universit%C3%A9_...
88,88,University of the Philippines,Philippines,Philippines,Asia,1908,Public,Distance/In-Person,64144,https://en.wikipedia.org/wiki/University_of_th...
89,89,"Academic Center for Education, Culture and Res...",Iran,Iran,Asia,1980,Private,In-Person,60000,https://en.wikipedia.org/wiki/Academic_Center_...

In [105]:
conn = pymysql.Connect(
    host=db_host,
    port=db_port_mysql,
    password=db_password,
    user=db_username,
    database=db_name
)

In [106]:
cursor = conn.cursor()

In [107]:
cursor.execute("SHOW TABLES;")

1

In [108]:
cursor.fetchall()

(('university',),)

In [109]:
create_query_file = open('./sql/mysql_create_table.sql')
create_query = create_query_file.read()
create_query

'CREATE TABLE university (\n    id BIGINT AUTO_INCREMENT NOT NULL,\n    `rank` BIGINT NOT NULL,\n    `name` VARCHAR(255) NOT NULL,\n    city VARCHAR(255) NOT NULL,\n    country VARCHAR(255) NOT NULL,\n    continent VARCHAR(255) NOT NULL,\n    founded INT NOT NULL,\n    affiliation VARCHAR(255) NOT NULL,\n    attendancemode VARCHAR(255) NOT NULL,\n    enrollment BIGINT NOT NULL,\n    `link` VARCHAR(255) NOT NULL,\n    UNIQUE KEY unique_combination (country, `name`),\n    PRIMARY KEY (id)\n);\n'

In [110]:
cursor.execute(create_query)

OperationalError: (1050, "Table 'university' already exists")

In [69]:
data = list(df.itertuples(index=None, name=None))

In [62]:
engine = create_engine("mysql+pymysql://", creator=lambda: conn) #specify existing connection into mysql file

In [123]:
pd.read_sql("SELECT * FROM university;", con=engine)

Empty DataFrame
Columns: [id, rank, name, city, country, continent, founded, affiliation, attendancemode, enrollment, link]
Index: []

In [117]:
merge_query_file = open('./sql/mysql_upsert.sql')
merge_query = merge_query_file.read()
merge_query

'INSERT INTO university (\n    `rank`, `name`, city, country, continent, founded, \n    affiliation, attendancemode, enrollment, `link`)\nVALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)\nON DUPLICATE KEY UPDATE\n    `rank` = VALUES(`rank`),\n    `name` = VALUES(`name`),\n    city = VALUES(city),\n    country = VALUES(country),\n    continent = VALUES(continent),\n    founded = VALUES(founded),\n    affiliation = VALUES(affiliation),\n    attendancemode = VALUES(attendancemode),\n    enrollment = VALUES(enrollment),\n    `link` = VALUES(`link`);\n'

In [118]:
data

[(1,
  'Indira Gandhi National Open University',
  'New Delhi',
  'India',
  'Asia',
  1985,
  'Public',
  'Distance/In-Person',
  7140000,
  'https://en.wikipedia.org/wiki/Indira_Gandhi_National_Open_University'),
 (2,
  'National University, Bangladesh',
  'Gazipur',
  'Bangladesh',
  'Asia',
  1992,
  'Public',
  'In-Person',
  3425832,
  'https://en.wikipedia.org/wiki/National_University,_Bangladesh'),
 (3,
  'Anadolu University',
  'Eskişehir',
  'Turkey',
  'Asia',
  1958,
  'Public',
  'Distance/In-Person',
  1974343,
  'https://en.wikipedia.org/wiki/Anadolu_University'),
 (4,
  'California Community Colleges',
  'California',
  'United States',
  'North America',
  1967,
  'Public',
  'In-Person',
  1800000,
  'https://en.wikipedia.org/wiki/California_Community_Colleges'),
 (5,
  'Islamic Azad University',
  'Iran',
  'Iran',
  'Asia',
  1982,
  'Private',
  'In-Person',
  1778000,
  'https://en.wikipedia.org/wiki/Islamic_Azad_University'),
 (6,
  'Allama Iqbal Open University',
  'Islamabad',
  'Pakistan',
  'Asia',
  1974,
  'Public',
  'Distance/In-Person',
  1027000,
  'https://en.wikipedia.org/wiki/Allama_Iqbal_Open_University'),
 (7,
  'Laureate Education, Inc.',
  'International',
  'International',
  'Global',
  1999,
  'Private',
  'Distance/In-Person',
  875000,
  'https://en.wikipedia.org/wiki/Laureate_Education,_Inc.'),
 (8,
  'Bangladesh Open University',
  'Gazipur',
  'Bangladesh',
  'Asia',
  1992,
  'Public',
  'Distance',
  650000,
  'https://en.wikipedia.org/wiki/Bangladesh_Open_University'),
 (9,
  'Universitas Terbuka',
  'Jakarta',
  'Indonesia',
  'Asia',
  1984,
  'Public',
  'Distance',
  646467,
  'https://en.wikipedia.org/wiki/Universitas_Terbuka'),
 (10,
  'National Technological Institute of Mexico',
  'Mexico',
  'Mexico',
  'North America',
  1948,
  'Public',
  'In-Person',
  620000,
  'https://en.wikipedia.org/wiki/National_Technological_Institute_of_Mexico'),
 (11,
  'Savitribai Phule Pune University',
  'Pune',
  'Maharashtra, India',
  'Asia',
  1948,
  'Public',
  'In-Person',
  665000,
  'https://en.wikipedia.org/wiki/Savitribai_Phule_Pune_University'),
 (12,
  'Chaudhary Charan Singh University',
  'Meerut',
  'Uttar Pradesh, India',
  'Asia',
  1965,
  'Public',
  'In-Person',
  560000,
  'https://en.wikipedia.org/wiki/Chaudhary_Charan_Singh_University'),
 (13,
  'University of Mumbai',
  'Mumbai',
  'Maharashtra, India',
  'Asia',
  1857,
  'Public',
  'In-Person',
  549432,
  'https://en.wikipedia.org/wiki/University_of_Mumbai'),
 (14,
  'Ramkhamhaeng University',
  'Bangkok',
  'Thailand',
  'Asia',
  1971,
  'Public',
  'In-Person',
  525000,
  'https://en.wikipedia.org/wiki/Ramkhamhaeng_University'),
 (15,
  'National Open University of Nigeria',
  'Nigeria',
  'Nigeria',
  'Africa',
  2002,
  'Public',
  'Distance',
  515000,
  'https://en.wikipedia.org/wiki/National_Open_University_of_Nigeria'),
 (16,
  'California State University system',
  'California',
  'United States',
  'North America',
  1857,
  'Public',
  'In-Person',
  457992,
  'https://en.wikipedia.org/wiki/California_State_University'),
 (17,
  'Tribhuvan University',
  'Kirtipur',
  'Nepal',
  'Asia',
  1959,
  'Public',
  'In-Person',
  454065,
  'https://en.wikipedia.org/wiki/Tribhuvan_University'),
 (18,
  'University of the Punjab',
  'Lahore',
  'Punjab, Pakistan',
  'Asia',
  1882,
  'Public',
  'In-Person',
  450000,
  'https://en.wikipedia.org/wiki/University_of_the_Punjab'),
 (19,
  'Dr. B R Ambedkar Open University',
  'Telangana',
  'India',
  'Asia',
  1982,
  'Public',
  'Distance',
  450000,
  'https://en.wikipedia.org/wiki/Andhra_Pradesh_Open_University'),
 (20,
  'State University System of Florida',
  'Florida',
  'United States',
  'North America',
  1954,
  'Public',
  'In-Person',
  430000,
  'https://en.wikipedia.org/wiki/State_University_System_of_Florida'),
 (21,
  'University System of Ohio',
  'Ohio',
  'United States',
  'North America',
  2007,
  'Public',
  'In-Person',
  429310,
  'https://en.wikipedia.org/wiki/University_System_of_Ohio'),
 (22,
  'University of Delhi',
  'Delhi',
  'India',
  'Asia',
  1922,
  'Public',
  'In-Person/Distance',
  700000,
  'https://en.wikipedia.org/wiki/University_of_Delhi'),
 (23,
  'Payame Noor University',
  'Iran',
  'Iran',
  'Asia',
  1987,
  'Public',
  'Distance/In-Person',
  400000,
  'https://en.wikipedia.org/wiki/Payame_Noor_University'),
 (24,
  'Sikkim Manipal University',
  'Sikkim',
  'India',
  'Asia',
  1995,
  'Private',
  'In-Person',
  390000,
  'https://en.wikipedia.org/wiki/Sikkim_Manipal_University'),
 (25,
  'University of South Africa',
  'Pretoria',
  'Gauteng, South Africa',
  'Africa',
  1873,
  'Public',
  'Distance',
  370,
  'https://en.wikipedia.org/wiki/University_of_South_Africa'),
 (26,
  'State University of New York system',
  'New York',
  'United States',
  'North America',
  1948,
  'Public',
  'In-Person',
  363612,
  'https://en.wikipedia.org/wiki/State_University_of_New_York'),
 (27,
  'National Autonomous University of Mexico',
  'Mexico City',
  'Mexico',
  'North America',
  1551,
  'Public',
  'In-Person',
  356530,
  'https://en.wikipedia.org/wiki/National_Autonomous_University_of_Mexico'),
 (28,
  'National Centre for Distance Education',
  'France',
  'France',
  'Europe',
  1939,
  'Public',
  'Distance',
  350000,
  'https://en.wikipedia.org/wiki/Centre_national_d%27enseignement_%C3%A0_distance'),
 (29,
  'University System of Georgia',
  'Georgia',
  'United States',
  'North America',
  1931,
  'Public',
  'In-Person',
  318027,
  'https://en.wikipedia.org/wiki/University_System_of_Georgia'),
 (30,
  'University of Buenos Aires',
  'Buenos Aires',
  'Argentina',
  'South America',
  1821,
  'Public',
  'In-Person',
  316050,
  'https://en.wikipedia.org/wiki/University_of_Buenos_Aires'),
 (30,
  'Minnesota State Colleges and Universities',
  'Minnesota',
  'United States',
  'North America',
  1995,
  'Public',
  'In-Person',
  300000,
  'https://en.wikipedia.org/wiki/Minnesota_State_Colleges_and_Universities'),
 (31,
  'Osmania University',
  'Hyderabad',
  'Telangana, India',
  'Asia',
  1918,
  'Public',
  'In-Person',
  300000,
  'https://en.wikipedia.org/wiki/Osmania_University'),
 (32,
  'National University of Distance Education',
  'Spain',
  'Spain',
  'Europe',
  1972,
  'Public',
  'Distance/In-Person',
  260079,
  'https://en.wikipedia.org/wiki/National_University_of_Distance_Education'),
 (33,
  'Rajiv Gandhi Technical University',
  'Bhopal',
  'Madhya Pradesh, India',
  'Asia',
  1998,
  'Public',
  'In-Person',
  260000,
  'https://en.wikipedia.org/wiki/Rajiv_Gandhi_Technical_University'),
 (34,
  'Cairo University',
  'Giza',
  'Egypt',
  'Africa',
  1908,
  'Public',
  'In-Person',
  257200,
  'https://en.wikipedia.org/wiki/Cairo_University'),
 (35,
  'University of California system',
  'California',
  'United States',
  'North America',
  1869,
  'Public',
  'In-Person',
  256000,
  'https://en.wikipedia.org/wiki/University_of_California'),
 (36,
  'City University of New York',
  'New York',
  'United States',
  'North America',
  1961,
  'Public',
  'In-Person',
  243000,
  'https://en.wikipedia.org/wiki/City_University_of_New_York'),
 (37,
  'University of North Carolina system',
  'North Carolina',
  'United States',
  'North America',
  1789,
  'Public',
  'In-Person',
  242000,
  'https://en.wikipedia.org/wiki/University_of_North_Carolina'),
 (38,
  'University of Texas System',
  'Texas',
  'United States',
  'North America',
  1881,
  'Public',
  'In-Person',
  221337,
  'https://en.wikipedia.org/wiki/University_of_Texas_System'),
 (39,
  'Estácio de Sá University',
  'Rio de Janeiro',
  'Rio de Janeiro, Brazil',
  'South America',
  1970,
  'Private',
  'In-Person',
  215000,
  'https://en.wikipedia.org/wiki/Est%C3%A1cio_de_S%C3%A1_University'),
 (40,
  'University of Guadalajara',
  'Guadalajara',
  'Jalisco, Mexico',
  'North America',
  1791,
  'Public',
  'In-Person',
  209406,
  'https://en.wikipedia.org/wiki/University_of_Guadalajara'),
 (41,
  'University of Nuevo León',
  'Monterrey',
  'Nuevo León, Mexico',
  'North America',
  1933,
  'Public',
  'In-Person',
  206000,
  'https://en.wikipedia.org/wiki/Universidad_Aut%C3%B3noma_de_Nuevo_Le%C3%B3n'),
 (42,
  'Open University',
  'Milton Keynes',
  'United Kingdom',
  'Europe',
  1969,
  'Public',
  'Distance/In-Person',
  205420,
  'https://en.wikipedia.org/wiki/Open_University'),
 (43,
  'University of Applied Science and Technology',
  'Iran',
  'Iran',
  'Asia',
  1992,
  'Public',
  'In-Person',
  200000,
  'https://en.wikipedia.org/wiki/University_of_Applied_Science_and_Technology'),
 (44,
  'Technical College System of Georgia',
  'Georgia',
  'United States',
  'North America',
  1970,
  'Public',
  'In-Person',
  191567,
  'https://en.wikipedia.org/wiki/Technical_College_System_of_Georgia'),
 (45,
  'Utah System of Higher Education',
  'Utah',
  'United States',
  'North America',
  1894,
  'Public',
  'In-Person',
  189351,
  'https://en.wikipedia.org/wiki/Utah_System_of_Higher_Education'),
 (46,
  'Russian Presidential Academy of National Economy and Public Administration',
  'Moscow',
  'Russian Federation',
  'Europe',
  1977,
  'Public',
  'In-Person',
  180000,
  'https://en.wikipedia.org/wiki/Russian_Presidential_Academy_of_National_Economy_and_Public_Administration'),
 (47,
  'King Abdulaziz University',
  'Jeddah',
  'Saudi Arabia',
  'Asia',
  1976,
  'Public',
  'In-Person',
  177234,
  'https://en.wikipedia.org/wiki/King_Abdulaziz_University'),
 (48,
  'Technical and Vocational University',
  'Iran',
  'Iran',
  'Asia',
  1965,
  'Public',
  'In-Person',
  175000,
  'https://en.wikipedia.org/wiki/Technical_and_Vocational_University'),
 (49,
  'National Polytechnic Institute',
  'Mexico City',
  'Mexico',
  'North America',
  1936,
  'Public',
  'In-Person',
  171581,
  'https://en.wikipedia.org/wiki/National_Polytechnic_Institute'),
 (50,
  'Autonomous University of Santo Domingo',
  'Santo Domingo',
  'Santo Domingo',
  'North America',
  1538,
  'Public',
  'In-Person',
  170530,
  'https://en.wikipedia.org/wiki/Universidad_Aut%C3%B3noma_de_Santo_Domingo'),
 (51,
  'Ain Shams University',
  'Cairo',
  'Egypt',
  'Africa',
  1950,
  'Public',
  'In-Person',
  170000,
  'https://en.wikipedia.org/wiki/Ain_Shams_University'),
 (52,
  'University of London',
  'London',
  'United Kingdom',
  'Europe',
  1836,
  'Public',
  'In-Person',
  170000,
  'https://en.wikipedia.org/wiki/University_of_London'),
 (53,
  'Southern New Hampshire University',
  'New Hampshire',
  'United States',
  'North America',
  1932,
  'Private',
  'Distance/In-Person',
  170000,
  'https://en.wikipedia.org/wiki/Southern_New_Hampshire_University'),
 (54,
  'Illinois Board of Higher Education',
  'Illinois',
  'United States',
  'North America',
  1862,
  'Public',
  'In-Person',
  163786,
  'https://en.wikipedia.org/wiki/Illinois_Board_of_Higher_Education'),
 (55,
  'University of Wisconsin System',
  'Wisconsin',
  'United States',
  'North America',
  1848,
  'Public',
  'In-Person',
  162933,
  'https://en.wikipedia.org/wiki/University_of_Wisconsin_System'),
 (56,
  'Universiti Teknologi MARA',
  'Shah Alam',
  'Malaysia',
  'Asia',
  1956,
  'Public',
  'In-Person',
  160957,
  'https://en.wikipedia.org/wiki/Universiti_Teknologi_MARA'),
 (57,
  'University of the People',
  'California',
  'United States',
  'North America',
  2009,
  'Private',
  'Distance',
  152000,
  'https://en.wikipedia.org/wiki/University_of_the_People'),
 (58,
  'Korea National Open University',
  'South Korea',
  'South Korea',
  'Asia',
  1972,
  'Public',
  'Distance/In-Person',
  151413,
  'https://en.wikipedia.org/wiki/Korea_National_Open_University'),
 (59,
  'Dr. A.P.J. Abdul Kalam Technical University',
  'Lucknow',
  'Uttar Pradesh, India',
  'Asia',
  2000,
  'Public',
  'In-Person',
  150000,
  'https://en.wikipedia.org/wiki/Dr._A.P.J._Abdul_Kalam_Technical_University'),
 (60,
  'Madhya Pradesh Bhoj Open University',
  'Bhopal',
  'Madhya Pradesh, India',
  'Asia',
  1991,
  'Public',
  'Distance',
  150000,
  'https://en.wikipedia.org/wiki/Madhya_Pradesh_Bhoj_Open_University'),
 (61,
  'Sapienza University of Rome',
  'Rome',
  'Italy',
  'Europe',
  1303,
  'Public',
  'In-Person',
  147000,
  'https://en.wikipedia.org/wiki/Sapienza_University_of_Rome'),
 (62,
  'University System of Maryland',
  'Maryland',
  'United States',
  'North America',
  1988,
  'Public',
  'In-Person',
  144363,
  'https://en.wikipedia.org/wiki/University_System_of_Maryland'),
 (63,
  'University of the Republic',
  'Montevideo',
  'Uruguay',
  'South America',
  1849,
  'Public',
  'In-Person',
  144108,
  'https://en.wikipedia.org/wiki/University_of_the_Republic_(Uruguay)'),
 (64,
  'Norte do Paraná University',
  'Londrina',
  'Paraná, Brazil',
  'South America',
  1972,
  'Private',
  'Distance/In-Person',
  130000,
  'https://en.wikipedia.org/wiki/Universidade_Norte_do_Paran%C3%A1'),
 (65,
  'IU International University of Applied Sciences',
  'Erfurt',
  'Germany',
  'Europe',
  1998,
  'Private',
  'Distance/In-Person',
  130000,
  'https://en.wikipedia.org/wiki/IU_International_University_of_Applied_Sciences'),
 (66,
  'University of San Carlos of Guatemala',
  'Guatemala City',
  'Guatemala',
  'North America',
  1676,
  'Public',
  'In-Person',
  124000,
  'https://en.wikipedia.org/wiki/Universidad_de_San_Carlos_de_Guatemala'),
 (67,
  'University of Lyon',
  'Lyon',
  'France',
  'Europe',
  2007,
  'Public',
  'In-Person',
  120000,
  'https://en.wikipedia.org/wiki/University_of_Lyon'),
 (68,
  'UNIMINUTO system',
  'Colombia',
  'Colombia',
  'South America',
  1990,
  'Private',
  'Distance/In-Person',
  116782,
  'https://en.wikipedia.org/wiki/UNIMINUTO'),
 (69,
  'Texas A&M University System',
  'Texas',
  'United States',
  'North America',
  1876,
  'Public',
  'In-Person',
  114691,
  'https://en.wikipedia.org/wiki/Texas_A%26M_University_System'),
 (70,
  'National University of Córdoba',
  'Córdoba',
  'Argentina',
  'South America',
  1613,
  'Public',
  'In-Person',
  113558,
  'https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba'),
 (71,
  'Pennsylvania State System of Higher Education',
  'Pennsylvania',
  'United States',
  'North America',
  1982,
  'Public',
  'In-Person',
  110428,
  'https://en.wikipedia.org/wiki/Pennsylvania_State_System_of_Higher_Education'),
 (72,
  'Liberty University',
  'Virginia',
  'United States',
  'North America',
  1971,
  'Private',
  'Distance/In-Person',
  110000,
  'https://en.wikipedia.org/wiki/Liberty_University'),
 (73,
  'University of Toulouse',
  'Toulouse',
  'France',
  'Europe',
  1229,
  'Public',
  'In-Person',
  110000,
  'https://en.wikipedia.org/wiki/University_of_Toulouse'),
 (74,
  'Université du Québec',
  'Quebec',
  'Canada',
  'North America',
  1968,
  'Public',
  'In-Person/Distance',
  101915,
  'https://en.wikipedia.org/wiki/Universit%C3%A9_du_Qu%C3%A9bec'),
 (75,
  'Virtual University of Pakistan',
  'Lahore',
  'Islamabad, Pakistan',
  'Asia',
  2002,
  'Public',
  'Distance',
  100000,
  'https://en.wikipedia.org/wiki/Virtual_University_of_Pakistan'),
 (76,
  'Vietnam National University, Ho Chi Minh City',
  'Ho Chi Minh City',
  'Vietnam',
  'Asia',
  1995,
  'Public',
  'In-Person',
  98648,
  'https://en.wikipedia.org/wiki/Vietnam_National_University,_Ho_Chi_Minh_City'),
 (77,
  'University of Belgrade',
  'Belgrade',
  'Serbia',
  'Europe',
  1808,
  'Public',
  'In-Person',
  97696,
  'https://en.wikipedia.org/wiki/University_of_Belgrade'),
 (78,
  'University of Vienna',
  'Vienna',
  'Austria',
  'Europe',
  1365,
  'Public',
  'In-Person',
  91715,
  'https://en.wikipedia.org/wiki/University_of_Vienna'),
 (79,
  'Monterrey Institute of Technology and Higher Education',
  'Monterrey',
  'Nuevo León, Mexico',
  'North America',
  1943,
  'Private',
  'In-Person',
  91200,
  'https://en.wikipedia.org/wiki/Monterrey_Institute_of_Technology_and_Higher_Education,_Chihuahua'),
 (80,
  'University of Toronto',
  'Toronto',
  'Canada',
  'North America',
  1827,
  'Public',
  'In-Person',
  88766,
  'https://en.wikipedia.org/wiki/University_of_Toronto'),
 (81,
  'Aristotle University of Thessaloniki',
  'Thessaloniki',
  'Greece',
  'Europe',
  1925,
  'Public',
  'In-Person',
  88283,
  'https://en.wikipedia.org/wiki/Aristotle_University_of_Thessaloniki'),
 (82,
  'Polytechnic University of the Philippines',
  'Philippines',
  'Philippines',
  'Asia',
  1904,
  'Public',
  'Distance/In-Person',
  83328,
  'https://en.wikipedia.org/wiki/Polytechnic_University_of_the_Philippines'),
 (83,
  'Complutense University of Madrid',
  'Madrid',
  'Spain',
  'Europe',
  1293,
  'Public',
  'In-Person',
  83000,
  'https://en.wikipedia.org/wiki/Complutense_University_of_Madrid'),
 (84,
  'Farhangian University',
  'Iran',
  'Iran',
  'Asia',
  2012,
  'Public',
  'In-Person',
  80000,
  'https://en.wikipedia.org/wiki/Farhangian_University'),
 (85,
  'Aix-Marseille University',
  'Marseille',
  'France',
  'Europe',
  1409,
  'Public',
  'In-Person',
  80000,
  'https://en.wikipedia.org/wiki/Aix-Marseille_University'),
 (86,
  'University of Hagen',
  'Hagen',
  'Germany',
  'Europe',
  1974,
  'Public',
  'Distance',
  69982,
  'https://en.wikipedia.org/wiki/University_of_Hagen'),
 (87,
  'Université de Montréal',
  'Canada',
  'Canada',
  'North America',
  1878,
  'Public',
  'Distance/In-Person',
  67109,
  'https://en.wikipedia.org/wiki/Universit%C3%A9_de_Montr%C3%A9al'),
 (88,
  'University of the Philippines',
  'Philippines',
  'Philippines',
  'Asia',
  1908,
  'Public',
  'Distance/In-Person',
  64144,
  'https://en.wikipedia.org/wiki/University_of_the_Philippines'),
 (89,
  'Academic Center for Education, Culture and Research',
  'Iran',
  'Iran',
  'Asia',
  1980,
  'Private',
  'In-Person',
  60000,
  'https://en.wikipedia.org/wiki/Academic_Center_for_Education,_Culture_and_Research')]

In [119]:
cursor.executemany(merge_query, data)

90

In [124]:
conn.commit()

In [125]:
pd.read_sql("SELECT * FROM university;", con=engine)

,id,rank,name,city,country,continent,founded,affiliation,attendancemode,enrollment,link
0,1,1,Indira Gandhi National Open University,New Delhi,India,Asia,1985,Public,Distance/In-Person,7140000,https://en.wikipedia.org/wiki/Indira_Gandhi_Na...
1,2,2,"National University, Bangladesh",Gazipur,Bangladesh,Asia,1992,Public,In-Person,3425832,https://en.wikipedia.org/wiki/National_Univers...
2,3,3,Anadolu University,Eskişehir,Turkey,Asia,1958,Public,Distance/In-Person,1974343,https://en.wikipedia.org/wiki/Anadolu_University
3,4,4,California Community Colleges,California,United States,North America,1967,Public,In-Person,1800000,https://en.wikipedia.org/wiki/California_Commu...
4,5,5,Islamic Azad University,Iran,Iran,Asia,1982,Private,In-Person,1778000,https://en.wikipedia.org/wiki/Islamic_Azad_Uni...
...,...,...,...,...,...,...,...,...,...,...,...
85,86,85,Aix-Marseille University,Marseille,France,Europe,1409,Public,In-Person,80000,https://en.wikipedia.org/wiki/Aix-Marseille_Un...
86,87,86,University of Hagen,Hagen,Germany,Europe,1974,Public,Distance,69982,https://en.wikipedia.org/wiki/University_of_Hagen
87,88,87,Université de Montréal,Canada,Canada,North America,1878,Public,Distance/In-Person,67109,https://en.wikipedia.org/wiki/Universit%C3%A9_...
88,89,88,University of the Philippines,Philippines,Philippines,Asia,1908,Public,Distance/In-Person,64144,https://en.wikipedia.org/wiki/University_of_th...
89,90,89,"Academic Center for Education, Culture and Res...",Iran,Iran,Asia,1980,Private,In-Person,60000,https://en.wikipedia.org/wiki/Academic_Center_...